deepspeed==0.14.5
einops==0.8.0
#flash-attn==2.5.2
fvcore==0.1.5.post20221221
h5py==3.11.0
huggingface_hub==0.24.6
matplotlib
numpy==1.24.2
packaging==24.1
peft==0.12.0
Pillow==10.4.0
pycocotools==2.0.7
Requests==2.32.
scikit-image
torch==2.4.0
torchvision==0.19.0
tqdm==4.66.5
transformers==4.29
wandb==0.17.7
opencv-python==4.8.0.74
opencv-python-headless==4.9.0.80
segment-anything==1.0
protobuf==3.20
hf_transfer
huggingface_hub[hf_transfer]
sentencepiece
tensorboard
pydantic==1.10.14
